################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/Jimu/v15
/src/Implements/Jimu.Discovery/ConsulIntegration/bin/Debug
/src/Implements/Jimu.Discovery/ConsulIntegration/obj
/src/Implements/Jimu.Extension/MasstransitIntegration/bin/Debug
/src/Implements/Jimu.Extension/MasstransitIntegration/obj
/src/Implements/Jimu.HealthCheck/QuartzIntegration/bin/Debug
/src/Implements/Jimu.HealthCheck/QuartzIntegration/obj
/src/Implements/Jimu.Logger/Log4netIntegration/bin/Debug
/src/Implements/Jimu.Logger/Log4netIntegration/obj
/src/Implements/Jimu.OAuth/JwtIntegration/bin/Debug
/src/Implements/Jimu.OAuth/JwtIntegration/obj
/src/Implements/Jimu.Proxy/CodeAnalysisIntegration/bin/Debug
/src/Implements/Jimu.Proxy/CodeAnalysisIntegration/obj
/src/Implements/Jimu.Transport/DotNettyIntegration/bin/Debug
/src/Implements/Jimu.Transport/DotNettyIntegration/obj
/src/Implements/Jimu.Transport/NetCoreHttpIntegration/bin/Debug
/src/Implements/Jimu.Transport/NetCoreHttpIntegration/obj
/src/Jimu/bin/Debug
/src/Jimu/obj
/src/Jimu.ApiGateway/bin/Debug/
/src/Jimu.ApiGateway/obj
/src/Jimu.Core/bin/Debug
/src/Jimu.Core/obj
/src/Samples/Common/DbWorker.UnitOfWork/IUnitOfWork/bin/Debug/
/src/Samples/Common/DbWorker.UnitOfWork/IUnitOfWork/obj
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.EF/bin/Debug/
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.EF/obj
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.SqlSugar/bin/Debug/
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.SqlSugar/obj
/src/Samples/Common/DDD.Core/bin/Debug/
/src/Samples/Common/DDD.Core/obj
/src/Samples/DDD.CQRS/ConAppServer/bin/Debug/
/src/Samples/DDD.CQRS/ConAppServer/obj
/src/Samples/DDD.CQRS/Domain/bin/Debug/
/src/Samples/DDD.CQRS/Domain/obj
/src/Samples/DDD.CQRS/IServices/bin/Debug/
/src/Samples/DDD.CQRS/IServices/obj
/src/Samples/DDD.CQRS/Services/bin/Debug/
/src/Samples/DDD.CQRS/Services/obj
/src/Samples/DDD.Simple/Domain/bin/Debug/
/src/Samples/DDD.Simple/Domain/obj
/src/Samples/DDD.Simple/Infrastruction/Model/bin/Debug/
/src/Samples/DDD.Simple/Infrastruction/Model/obj
/src/Samples/DDD.Simple/Infrastruction/Repository/EF/bin/Debug/
/src/Samples/DDD.Simple/Infrastruction/Repository/EF/obj
/src/Samples/DDD.Simple/Infrastruction/Repository/SqlSugar/bin/Debug/
/src/Samples/DDD.Simple/Infrastruction/Repository/SqlSugar/obj
/src/Samples/DDD.Simple/IServices/bin/Debug/
/src/Samples/DDD.Simple/IServices/obj
/src/Samples/DDD.Simple/Server/bin/Debug/
/src/Samples/DDD.Simple/Server/obj
/src/Samples/DDD.Simple/Services/bin/Debug/
/src/Samples/DDD.Simple/Services/obj
/src/Samples/Simple/Client/bin/Debug/
/src/Samples/Simple/Client/obj
/src/Samples/Simple/HttpServer/bin/Debug/
/src/Samples/Simple/HttpServer/obj
/src/Samples/Simple/IServices/bin/Debug/
/src/Samples/Simple/IServices/obj
/src/Samples/Simple/Server/bin/Debug/
/src/Samples/Simple/Server/obj
/src/Samples/Simple/Services/bin/Debug/
/src/Samples/Simple/Services/obj
/src/Samples/test.ps1
/src/.vs/Jimu/DesignTimeBuild
/src/.vs/config
/src/Implements/Jimu.Discovery/Jimu.Common.Discovery.InMemeryIntegration/bin/Debug/
/src/Implements/Jimu.Discovery/Jimu.Common.Discovery.InMemeryIntegration/obj
/src/Implements/Jimu.LoadBalance/Jimu.Client.LoadBalance.PollingIntegration/bin/Debug/
/src/Implements/Jimu.LoadBalance/Jimu.Client.LoadBalance.PollingIntegration/obj
/src/Jimu/.vs/Jimu
/src/Jimu.Client/bin/Debug/
/src/Jimu.Client/obj
/src/Jimu.Server/bin/Debug/
/src/Jimu.Server/obj
/src/Jimu.Server/bin/Debug
*.nupkg
/src/.vs/Jimu - publish
/src/Jimu.Extensions/Jimu.Common.Discovery.ConsulIntegration/bin/Debug/netstandard2.0
/src/Jimu.Extensions/Jimu.Common.Discovery.ConsulIntegration/obj
/src/Jimu.Extensions/Jimu.Server.EventBus.MasstransitIntegration/bin/Debug/netstandard2.0
/src/Jimu.Extensions/Jimu.Server.EventBus.MasstransitIntegration/obj
/src/Samples/ApiGateway/ApiGateway1/bin/Debug/netcoreapp2.0
/src/Samples/ApiGateway/ApiGateway1/obj
/src/Samples/ApiGateway/ApiGateway2/bin/Debug/netcoreapp2.0
/src/Samples/ApiGateway/ApiGateway2/obj
/src/Samples/Client/Client/bin/Debug/netcoreapp2.0
/src/Samples/Client/Client/obj
/src/Samples/Server/HttpServer/bin/Debug/netcoreapp2.0
/src/Samples/Server/HttpServer/obj
/src/Samples/Server/Server/bin/Debug/netcoreapp2.0
/src/Samples/Server/Server/obj
/src/Samples/Service/IServices/bin/Debug/netcoreapp2.0
/src/Samples/Service/IServices/obj
/src/Samples/Service/Services/bin/Debug/netcoreapp2.0
/src/Samples/Service/Services/obj
/src/Samples/ConsulForDiscovery/ApiGateway/bin/Debug/netcoreapp2.0
/src/Samples/ConsulForDiscovery/ApiGateway/obj
/src/Samples/ConsulForDiscovery/Server1.DotnettyForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/ConsulForDiscovery/Server1.DotnettyForTransfer/obj
/src/Samples/ConsulForDiscovery/Server2.HttpForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/ConsulForDiscovery/Server2.HttpForTransfer/obj
/src/Samples/InServerForDiscovery/ApiGateway/bin/Debug/netcoreapp2.0
/src/Samples/InServerForDiscovery/ApiGateway/obj
/src/Samples/InServerForDiscovery/Server1.DotnettyForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/InServerForDiscovery/Server1.DotnettyForTransfer/obj
/src/Samples/InServerForDiscovery/Server2.HttpForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/InServerForDiscovery/Server2.HttpForTransfer/obj
/src/Samples/Server/Server1/bin/Debug/netcoreapp2.0
/src/Samples/Server/Server1/obj
/src/Samples/Server/Server2/bin/Debug/netcoreapp2.0
/src/Samples/Server/Server2/obj
/src/Samples/Complex/ApiGateway/bin/Debug/netcoreapp2.0
/src/Samples/Complex/ApiGateway/obj
/src/Samples/Complex/Server1.DotnettyForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/Complex/Server1.DotnettyForTransfer/obj
/src/Samples/Complex/Server2.HttpForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/Complex/Server2.HttpForTransfer/obj
/src/Samples/Simple/ApiGateway/bin/Debug/netcoreapp2.0
/src/Samples/Simple/ApiGateway/obj
/src/Samples/Simple/Server1.DotnettyForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/Simple/Server1.DotnettyForTransfer/obj
/src/Samples/Simple/Server2.HttpForTransfer/bin/Debug/netcoreapp2.0
/src/Samples/Simple/Server2.HttpForTransfer/obj
/src/Jimu/bin/Release/netstandard2.0
/src/Jimu/Properties/PublishProfiles
/src/Jimu/Jimu.csproj.user
/src/Jimu.Client/bin/Release/netstandard2.0
/src/Jimu.Extensions/Jimu.Common.Discovery.ConsulIntegration/bin/Release/netstandard2.0
/src/Jimu.Extensions/Jimu.Server.EventBus.MasstransitIntegration/bin/Release/netstandard2.0
/src/Jimu.Server/bin/Release/netstandard2.0
/src/Samples/Client/Client/bin/Release/netcoreapp2.0
/src/Samples/Complex/ApiGateway/bin/Release/netcoreapp2.0
/src/Samples/Complex/ApiGateway/log
/src/Samples/Complex/Server1.DotnettyForTransfer/bin/Release/netcoreapp2.0
/src/Samples/Complex/Server2.HttpForTransfer/bin/Release/netcoreapp2.0
/src/Samples/ConsulForDiscovery/ApiGateway/bin/Release/netcoreapp2.0
/src/Samples/ConsulForDiscovery/Server1.DotnettyForTransfer/bin/Release/netcoreapp2.0
/src/Samples/ConsulForDiscovery/Server2.HttpForTransfer/bin/Release/netcoreapp2.0
/src/Samples/InServerForDiscovery/ApiGateway/bin/Release/netcoreapp2.0
/src/Samples/InServerForDiscovery/Server1.DotnettyForTransfer/bin/Release/netcoreapp2.0
/src/Samples/InServerForDiscovery/Server2.HttpForTransfer/bin/Release/netcoreapp2.0
/src/Samples/Service/IServices/bin/Release/netcoreapp2.0
/src/Samples/Service/Services/bin/Release/netcoreapp2.0
/src/Samples/Simple/ApiGateway/bin/Release/netcoreapp2.0
/src/Samples/Simple/Server1.DotnettyForTransfer/bin/Release/netcoreapp2.0
/src/Samples/Simple/Server2.HttpForTransfer/bin/Release/netcoreapp2.0
*.user
/src/Samples/CSMode/Client/bin/Debug/netcoreapp2.0
/src/Samples/CSMode/Client/bin/Release/netcoreapp2.0
/src/Samples/CSMode/Client/obj
/src/Samples/CSMode/Server/bin
/src/Samples/CSMode/Server/obj
/src/txt.txt
/src/Samples/Complex/Server1.DotnettyForTransfer/Properties/PublishProfiles/FolderProfile.pubxml
*.bak
/src/Samples/Service/Services/Properties/PublishProfiles/FolderProfile.pubxml
/src/Samples/Service/Services/Services.csproj.user
/src/Jimu.Extensions/Jimu.Client.ApiGateway.SwaggerIntegration/bin/Debug/netcoreapp2.0
/src/Jimu.Extensions/Jimu.Client.ApiGateway.SwaggerIntegration/obj
/src/WebApplication1
/src/test/Jimu.Test/bin/Debug/netcoreapp2.0
/src/test/Jimu.Test/obj
/src/Jimu.Extensions/Jimu.Client.Discovery.ConsulIntegration/bin/Debug/netstandard2.0
/src/Jimu.Extensions/Jimu.Client.Discovery.ConsulIntegration/obj
/src/Jimu.Extensions/Jimu.Server.Discovery.ConsulIntegration/bin/Debug/netstandard2.0
/src/Jimu.Extensions/Jimu.Server.Discovery.ConsulIntegration/obj
/src/Jimu.Modules/Jimu.Client.ApiGateway.SwaggerIntegration/bin/Debug/netcoreapp2.0
/src/Jimu.Modules/Jimu.Client.ApiGateway.SwaggerIntegration/obj
/src/Jimu.Modules/Jimu.Client.Discovery.ConsulIntegration/bin/Debug/netstandard2.0
/src/Jimu.Modules/Jimu.Client.Discovery.ConsulIntegration/obj
/src/Jimu.Modules/Jimu.Server.Discovery.ConsulIntegration/bin/Debug/netstandard2.0
/src/Jimu.Modules/Jimu.Server.Discovery.ConsulIntegration/obj
/src/Jimu.Modules/Jimu.Server.EventBus.MasstransitIntegration/bin
/src/Jimu.Modules/Jimu.Server.EventBus.MasstransitIntegration/obj
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.EFIntegration/bin/Debug/netstandard2.0
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.EFIntegration/obj
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.SqlSugarIntegration/bin/Debug/netstandard2.0
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.SqlSugarIntegration/obj
/src/Jimu.Modules/Jimu.Server.ORM.DapperIntegration/bin/Debug/netstandard2.0
/src/Jimu.Modules/Jimu.Server.ORM.DapperIntegration/obj
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.DapperIntegration/bin/Debug/netstandard2.0
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.DapperIntegration/obj
/src/Samples/Complex/Auth.Server/bin/Debug/netcoreapp2.0
/src/Samples/Complex/Auth.Server/obj
/src/Samples/Complex/User
/src/ConsoleApp1
/src/.vs/Jimu
/src/bin/Debug
/src/obj
/src/Samples/Complex/Auth.IService/bin
/src/Samples/Complex/Auth.IService/obj
/src/Samples/Complex/Auth.Service/bin
/src/Samples/Complex/Auth.Service/obj
/src/Samples/Complex/Auth.Server/log
/src/Jimu.Modules/Jimu.Client.Discovery.ConsulIntegration/bin/Release/netstandard2.0
/src/Jimu.Modules/Jimu.Server.Discovery.ConsulIntegration/bin/Release/netstandard2.0
/src/Samples/CSMode/Server2/bin
/src/Samples/CSMode/Server2/obj
/src/Samples/CSMode/Server2/Properties/PublishProfiles
/TestService/bin
/TestService/obj
/src/Samples/Service/TestService/bin
/src/Samples/Service/TestService/obj
/src/Jimu.Modules/Jimu.Client.ApiGateway.SwaggerIntegration/bin/Release/netcoreapp2.0
/src/Samples/CSMode/Server/Properties/PublishProfiles
