################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/Jimu/v15
/src/Jimu/bin
/src/Jimu/obj
/src/Samples/Simple/Client/bin/
/src/Samples/Simple/Client/obj
/src/Samples/Simple/HttpServer/bin/
/src/Samples/Simple/HttpServer/obj
/src/Samples/Simple/IServices/bin/
/src/Samples/Simple/IServices/obj
/src/Samples/Simple/Server/bin/
/src/Samples/Simple/Server/obj
/src/Samples/Simple/Services/bin/
/src/Samples/Simple/Services/obj
/src/Samples/test.ps1
/src/.vs/Jimu/DesignTimeBuild
/src/.vs/config
/src/Jimu/.vs/Jimu
/src/Jimu.Client/bin/
/src/Jimu.Client/obj
/src/Jimu.Server/bin/
/src/Jimu.Server/obj
/src/Jimu.Server/bin
*.nupkg
/src/.vs/Jimu - publish
/src/Samples/ApiGateway/ApiGateway1/bin
/src/Samples/ApiGateway/ApiGateway1/obj
/src/Samples/ApiGateway/ApiGateway2/bin
/src/Samples/ApiGateway/ApiGateway2/obj
/src/Samples/Client/Client/bin
/src/Samples/Client/Client/obj
/src/Samples/Server/HttpServer/bin
/src/Samples/Server/HttpServer/obj
/src/Samples/Server/Server/bin
/src/Samples/Server/Server/obj
/src/Samples/Service/IServices/bin
/src/Samples/Service/IServices/obj
/src/Samples/Service/Services/bin
/src/Samples/Service/Services/obj
/src/Samples/ConsulForDiscovery/ApiGateway/bin
/src/Samples/ConsulForDiscovery/ApiGateway/obj
/src/Samples/ConsulForDiscovery/Server1.DotnettyForTransfer/bin
/src/Samples/ConsulForDiscovery/Server1.DotnettyForTransfer/obj
/src/Samples/ConsulForDiscovery/Server2.HttpForTransfer/bin
/src/Samples/ConsulForDiscovery/Server2.HttpForTransfer/obj
/src/Samples/InServerForDiscovery/ApiGateway/bin
/src/Samples/InServerForDiscovery/ApiGateway/obj
/src/Samples/InServerForDiscovery/Server1.DotnettyForTransfer/bin
/src/Samples/InServerForDiscovery/Server1.DotnettyForTransfer/obj
/src/Samples/InServerForDiscovery/Server2.HttpForTransfer/bin
/src/Samples/InServerForDiscovery/Server2.HttpForTransfer/obj
/src/Samples/Server/Server1/bin
/src/Samples/Server/Server1/obj
/src/Samples/Server/Server2/bin
/src/Samples/Server/Server2/obj
/src/Samples/Complex/ApiGateway/bin
/src/Samples/Complex/ApiGateway/obj
/src/Samples/Complex/Server1.DotnettyForTransfer/bin
/src/Samples/Complex/Server1.DotnettyForTransfer/obj
/src/Samples/Complex/Server2.HttpForTransfer/bin
/src/Samples/Complex/Server2.HttpForTransfer/obj
/src/Samples/Simple/ApiGateway/bin
/src/Samples/Simple/ApiGateway/obj
/src/Samples/Simple/Server1.DotnettyForTransfer/bin
/src/Samples/Simple/Server1.DotnettyForTransfer/obj
/src/Samples/Simple/Server2.HttpForTransfer/bin
/src/Samples/Simple/Server2.HttpForTransfer/obj
/src/Jimu/bin
/src/Jimu/Properties/PublishProfiles
/src/Jimu/Jimu.csproj.user
/src/Jimu.Client/bin
/src/Jimu.Extensions/Jimu.Common.Discovery.ConsulIntegration/bin
/src/Jimu.Extensions/Jimu.Server.EventBus.MasstransitIntegration/bin
/src/Jimu.Server/bin
/src/Samples/Client/Client/bin
/src/Samples/Complex/ApiGateway/bin
/src/Samples/Complex/ApiGateway/log
/src/Samples/Complex/Server1.DotnettyForTransfer/bin
/src/Samples/Complex/Server2.HttpForTransfer/bin
/src/Samples/ConsulForDiscovery/ApiGateway/bin
/src/Samples/ConsulForDiscovery/Server1.DotnettyForTransfer/bin
/src/Samples/ConsulForDiscovery/Server2.HttpForTransfer/bin
/src/Samples/InServerForDiscovery/ApiGateway/bin
/src/Samples/InServerForDiscovery/Server1.DotnettyForTransfer/bin
/src/Samples/InServerForDiscovery/Server2.HttpForTransfer/bin
/src/Samples/Service/IServices/bin
/src/Samples/Service/Services/bin
/src/Samples/Simple/ApiGateway/bin
/src/Samples/Simple/Server1.DotnettyForTransfer/bin
/src/Samples/Simple/Server2.HttpForTransfer/bin
*.user
/src/Samples/CSMode/Client/bin
/src/Samples/CSMode/Client/bin
/src/Samples/CSMode/Client/obj
/src/Samples/CSMode/Server/bin
/src/Samples/CSMode/Server/obj
/src/txt.txt
/src/Samples/Complex/Server1.DotnettyForTransfer/Properties/PublishProfiles/FolderProfile.pubxml
*.bak
/src/Samples/Service/Services/Properties/PublishProfiles/FolderProfile.pubxml
/src/Samples/Service/Services/Services.csproj.user
/src/Jimu.Extensions/Jimu.Client.ApiGateway.SwaggerIntegration/bin
/src/Jimu.Extensions/Jimu.Client.ApiGateway.SwaggerIntegration/obj
/src/WebApplication1
/src/test/Jimu.Test/bin
/src/test/Jimu.Test/obj
/src/Jimu.Modules/Jimu.Client.ApiGateway.SwaggerIntegration/bin
/src/Jimu.Modules/Jimu.Client.ApiGateway.SwaggerIntegration/obj
/src/Jimu.Modules/Jimu.Client.Discovery.ConsulIntegration/bin
/src/Jimu.Modules/Jimu.Client.Discovery.ConsulIntegration/obj
/src/Jimu.Modules/Jimu.Server.Discovery.ConsulIntegration/bin
/src/Jimu.Modules/Jimu.Server.Discovery.ConsulIntegration/obj
/src/Jimu.Modules/Jimu.Server.EventBus.MasstransitIntegration/bin
/src/Jimu.Modules/Jimu.Server.EventBus.MasstransitIntegration/obj
/src/Jimu.Modules/Jimu.Server.UnitOfWork.DbCon/bin
/src/Jimu.Modules/Jimu.Server.UnitOfWork.DbCon/obj
/src/Jimu.Modules/Jimu.Server.UnitOfWork.EF/bin
/src/Jimu.Modules/Jimu.Server.UnitOfWork.EF/obj 
/src/Jimu.Modules/Jimu.Server.UnitOfWork.SqlSugar/bin
/src/Jimu.Modules/Jimu.Server.UnitOfWork.SqlSugar/obj 
/src/Samples/Complex/Auth.Server/bin
/src/Samples/Complex/Auth.Server/obj
/src/Samples/Complex/User
/src/ConsoleApp1
/src/.vs/Jimu
/src/bin
/src/obj
/src/Samples/Complex/Auth.IService/bin
/src/Samples/Complex/Auth.IService/obj
/src/Samples/Complex/Auth.Service/bin
/src/Samples/Complex/Auth.Service/obj
/src/Samples/Complex/Auth.Server/log
/src/Jimu.Modules/Jimu.Client.Discovery.ConsulIntegration/bin
/src/Jimu.Modules/Jimu.Server.Discovery.ConsulIntegration/bin
/src/Samples/CSMode/Server2/bin
/src/Samples/CSMode/Server2/obj
/src/Samples/CSMode/Server2/Properties/PublishProfiles
/TestService/bin
/TestService/obj
/src/Samples/Service/TestService/bin
/src/Samples/Service/TestService/obj
/src/Jimu.Modules/Jimu.Client.ApiGateway.SwaggerIntegration/bin
/src/Samples/CSMode/Server/Properties/PublishProfiles
/src/Jimu.Modules/Jimu.Client.Discovery.ConsulIntegration/bin
/src/Jimu.Modules/Jimu.Client.ApiGateway.SwaggerIntegration/bin
/src/Samples/Complex/ApiGateway/bin
/src/Samples/CSMode/Client/bin
/src/test/Jimu.Test/bin
/src/Jimu.Modules/Jimu.Client.ApiGateway.Swagger/bin
/src/Jimu.Modules/Jimu.Client.ApiGateway.Swagger/obj
/src/Jimu.Modules/Jimu.Client.Discovery.Consul/bin
/src/Jimu.Modules/Jimu.Client.Discovery.Consul/obj
/src/Jimu.Modules/Jimu.Server.Discovery.Consul/bin
/src/Jimu.Modules/Jimu.Server.Discovery.Consul/obj
/src/Jimu.Modules/Jimu.Server.EventBus.Masstransit/bin
/src/Jimu.Modules/Jimu.Server.EventBus.Masstransit/obj
/src/Jimu.Modules/Jimu.Server.ORM.Dapper/bin
/src/Jimu.Modules/Jimu.Server.ORM.Dapper/obj
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.Dapper/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.Dapper/obj
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.EF/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.EF/obj
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.SqlSugar/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.SqlSugar/obj
/ApiGateway2
/src/Jimu.Modules/Jimu.Server.ORM.Dapper/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.Dapper/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.EF/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.SqlSugar/bin
/src/Samples/Complex/ApiGateway/bin
/src/Samples/Complex/Auth.Server/bin
/src/Samples/Complex/Server1.DotnettyForTransfer/bin
/src/Samples/Complex/Server2.HttpForTransfer/bin
/src/Samples/CSMode/Client/bin
/src/Samples/Service/IServices/bin
/src/Samples/Service/Services/bin
/src/test/Jimu.Test/bin
/src/Samples/Complex
/src/Samples/CSMode
/src/Samples/Service
/IService/obj
/src/Jimu.Modules/Jimu.Server.ORM.Dapper/bin
/src/Samples/ApiGateway/bin
/src/Samples/ApiGateway/log
/src/Samples/ApiGateway/obj
/src/Samples/Auth/Auth.IService/bin
/src/Samples/Auth/Auth.IService/obj
/src/Samples/Auth/Auth.Server/bin
/src/Samples/Auth/Auth.Server/log
/src/Samples/Auth/Auth.Server/obj
/src/Samples/Auth/Auth.Service/bin
/src/Samples/Auth/Auth.Service/obj 
/src/Jimu/bin
/src/Jimu.Client/bin
/src/Jimu.Modules/Jimu.Server.ORM.Dapper/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.Dapper/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.EF/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.SqlSugar/bin
/src/Jimu.Server/bin
/src/Samples/ApiGateway/bin
/src/Samples/Auth/Auth.Server/bin
/src/test/Jimu.Test/bin
/src/Samples/Complex
/src/Samples/CSMode
/src/Samples/Service
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.Dapper/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.EF/bin
/src/Jimu.Modules/Jimu.Server.Repository.MiniDDD.SqlSugar/bin
/src/Jimu.Modules/Jimu.Client.ApiGateway.Skywalking/obj
/src/Jimu.Modules/Jimu.Client.ApiGateway.Skywalking/bin
/src/Samples/ApiGateway/logs
/src/Jimu.Extensions
/src/Jimu.Modules/Jimu.Server.Apm.Skywalking/bin
/src/Jimu.Modules/Jimu.Server.Apm.Skywalking/obj
/src/Jimu.Modules/Jimu.Client.Diagnostic.Skywalking/bin
/src/Jimu.Modules/Jimu.Client.Diagnostic.Skywalking/obj
/src/Jimu.Modules/Jimu.Server.Diagnostic.Skywalking/bin
/src/Jimu.Modules/Jimu.Server.Diagnostic.Skywalking/obj
/src/Samples/Order/Order.IService/bin
/src/Samples/Order/Order.IService/obj
/src/Samples/Order/Order.Server/bin
/src/Samples/Order/Order.Server/obj
/src/Samples/Order/Order.Service/bin
/src/Samples/Order/Order.Service/obj
/src/Jimu.All/bin
/src/Jimu.All/obj
/src/Samples/Auth/IService.Auth/bin
/src/Samples/Auth/IService.Auth/obj
/src/Samples/Auth/Server.Auth/bin
/src/Samples/Auth/Server.Auth/obj
/src/Samples/Auth/Service.Auth/bin
/src/Samples/Auth/Service.Auth/obj
/src/Samples/Order/IService.Order/bin
/src/Samples/Order/IService.Order/obj
/src/Samples/Order/Server.Order/bin
/src/Samples/Order/Server.Order/obj
/src/Samples/Order/Service.Order/bin
/src/Samples/Order/Service.Order/obj
/src/Jimu/bin
/src/Jimu.All/bin
/src/Jimu.Core/bin
/src/Jimu.Modules/Jimu.Client.Diagnostic.Skywalking/bin
/src/Jimu.Modules/Jimu.Server.Diagnostic.Skywalking/bin
/src/Samples/Auth/IService.Auth/bin
/src/Samples/Auth/Server.Auth/bin
/src/Samples/Auth/Service.Auth/bin
/src/Samples/Order/IService.Order/bin
/src/Samples/Order/Server.Order/bin
/src/Samples/Order/Service.Order/bin
/src/Jimu.Modules/Jimu.Server.Memcached.EnyimMemcachedCore/obj
/src/Jimu.Modules/Jimu.Server.Memcached.EnyimMemcachedCore/bin
/src/Jimu.Modules/Jimu.Server.Bus.MassTransit.RabbitMq/bin
/src/Jimu.Modules/Jimu.Server.Bus.MassTransit.RabbitMq/obj
/src/Jimu.Mix/bin
/src/Jimu.Mix/obj
