################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/Jimu/v15
/src/Implements/Jimu.Discovery/ConsulIntegration/bin/Debug
/src/Implements/Jimu.Discovery/ConsulIntegration/obj
/src/Implements/Jimu.Extension/MasstransitIntegration/bin/Debug
/src/Implements/Jimu.Extension/MasstransitIntegration/obj
/src/Implements/Jimu.HealthCheck/QuartzIntegration/bin/Debug
/src/Implements/Jimu.HealthCheck/QuartzIntegration/obj
/src/Implements/Jimu.Logger/Log4netIntegration/bin/Debug
/src/Implements/Jimu.Logger/Log4netIntegration/obj
/src/Implements/Jimu.OAuth/JwtIntegration/bin/Debug
/src/Implements/Jimu.OAuth/JwtIntegration/obj
/src/Implements/Jimu.Proxy/CodeAnalysisIntegration/bin/Debug
/src/Implements/Jimu.Proxy/CodeAnalysisIntegration/obj
/src/Implements/Jimu.Transport/DotNettyIntegration/bin/Debug
/src/Implements/Jimu.Transport/DotNettyIntegration/obj
/src/Implements/Jimu.Transport/NetCoreHttpIntegration/bin/Debug
/src/Implements/Jimu.Transport/NetCoreHttpIntegration/obj
/src/Jimu/bin/Debug
/src/Jimu/obj
/src/Jimu.ApiGateway/bin/Debug/netcoreapp2.0
/src/Jimu.ApiGateway/obj
/src/Jimu.Core/bin/Debug
/src/Jimu.Core/obj
/src/Samples/Common/DbWorker.UnitOfWork/IUnitOfWork/bin/Debug/netstandard2.0
/src/Samples/Common/DbWorker.UnitOfWork/IUnitOfWork/obj
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.EF/bin/Debug/netstandard2.0
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.EF/obj
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.SqlSugar/bin/Debug/netstandard2.0
/src/Samples/Common/DbWorker.UnitOfWork/UnitOfWork.SqlSugar/obj
/src/Samples/Common/DDD.Core/bin/Debug/netstandard2.0
/src/Samples/Common/DDD.Core/obj
/src/Samples/DDD.CQRS/ConAppServer/bin/Debug/netcoreapp2.0
/src/Samples/DDD.CQRS/ConAppServer/obj
/src/Samples/DDD.CQRS/Domain/bin/Debug/netcoreapp2.0
/src/Samples/DDD.CQRS/Domain/obj
/src/Samples/DDD.CQRS/IServices/bin/Debug/netcoreapp2.0
/src/Samples/DDD.CQRS/IServices/obj
/src/Samples/DDD.CQRS/Services/bin/Debug/netcoreapp2.0
/src/Samples/DDD.CQRS/Services/obj
/src/Samples/DDD.Simple/Domain/bin/Debug/netstandard2.0
/src/Samples/DDD.Simple/Domain/obj
/src/Samples/DDD.Simple/Infrastruction/Model/bin/Debug/netstandard2.0
/src/Samples/DDD.Simple/Infrastruction/Model/obj
/src/Samples/DDD.Simple/Infrastruction/Repository/EF/bin/Debug/netstandard2.0
/src/Samples/DDD.Simple/Infrastruction/Repository/EF/obj
/src/Samples/DDD.Simple/Infrastruction/Repository/SqlSugar/bin/Debug/netcoreapp2.0
/src/Samples/DDD.Simple/Infrastruction/Repository/SqlSugar/obj
/src/Samples/DDD.Simple/IServices/bin/Debug/netcoreapp2.0
/src/Samples/DDD.Simple/IServices/obj
/src/Samples/DDD.Simple/Server/bin/Debug/netcoreapp2.0
/src/Samples/DDD.Simple/Server/obj
/src/Samples/DDD.Simple/Services/bin/Debug/netcoreapp2.0
/src/Samples/DDD.Simple/Services/obj
/src/Samples/Simple/Client/bin/Debug/netcoreapp2.0
/src/Samples/Simple/Client/obj
/src/Samples/Simple/HttpServer/bin/Debug/netcoreapp2.0
/src/Samples/Simple/HttpServer/obj
/src/Samples/Simple/IServices/bin/Debug/netcoreapp2.0
/src/Samples/Simple/IServices/obj
/src/Samples/Simple/Server/bin/Debug/netcoreapp2.0
/src/Samples/Simple/Server/obj
/src/Samples/Simple/Services/bin/Debug/netcoreapp2.0
/src/Samples/Simple/Services/obj
/src/Samples/test.ps1
/src/.vs/Jimu/DesignTimeBuild
/src/.vs/config
/src/Implements/Jimu.Discovery/Jimu.Common.Discovery.InMemeryIntegration/bin/Debug/netstandard2.0
/src/Implements/Jimu.Discovery/Jimu.Common.Discovery.InMemeryIntegration/obj
/src/Implements/Jimu.LoadBalance/Jimu.Client.LoadBalance.PollingIntegration/bin/Debug/netstandard2.0
/src/Implements/Jimu.LoadBalance/Jimu.Client.LoadBalance.PollingIntegration/obj
/src/Jimu/.vs/Jimu
/src/Jimu.Client/bin/Debug/netstandard2.0
/src/Jimu.Client/obj
/src/Jimu.Server/bin/Debug/netstandard2.0
/src/Jimu.Server/obj
